*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    transition: all 125ms ease-in-out;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.column {
    flex-direction: column;
}

.cursor-p {
    cursor: pointer;
}

.cursor-d {
    cursor: default;
}

.d-none {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

p {
    margin: 0;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    background-image: url('img/background_mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'zabars';
    font-size: 40px;
    letter-spacing: 8px;
}

body > h1 {
    margin: 0 0 12px 0;
}

canvas {
    background-color: black;
    display: block;

}


@media screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
} 

@media screen and (max-heigth: 480px) {
    canvas {
        height: 100vh;
    }
} 


.canvasMenuTop {
    top: 0;
    justify-content: center;
}

.canvasMenuBottom {
    bottom: 0;
    justify-content: flex-end;
    padding-bottom: 6px;
}

.btnFullscreen {
    margin-right: 12px;
    margin-bottom: 	12px;
    width: 18px;
}

#countdown {
    font-size: 20px;
    margin-top: 12px;
}